@font-face {
   font-family: 'MOHAMMAD_BOLD_ART_1';
   font-display: swap;
   src: url('MOHAMMAD_BOLD_ART_1/font.ttf');
}
@font-face {
   font-family: 'mohammad-bold-art-1';
   font-display: swap;
   src: url('mohammad-bold-art-1/font.ttf');
}
