@font-face {
   font-family: 'MOHAMMAD_BOLD_ART_1';
   font-display: swap;
   src: url('file:///C:/Users/web%20des/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-08-26_140259/fonts/MOHAMMAD_BOLD_ART_1/font.ttf');
}
