@font-face {
   font-family: 'mohammad-bold-art-1';
   font-display: swap;
   src: url('file:///C:/Users/web%20des/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-08-26_140259/fonts/mohammad-bold-art-1/font.ttf');
}
